<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Tajniacy</title>
    </head>
    <body>
        <h1>Hello There</h1>
        <p>Nie powinno Ciebie tu być!</p1><br>
        <a href='/codenames/'>Tajniacy</a>
    </body>
</html>